.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.card {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 2px 21px 0px rgba(0, 0, 0, 0.43);
}

body {
  background-image: url("https://media.istockphoto.com/id/1265272573/photo/unrecognizable-supermarket-aisle-as-background.jpg?s=612x612&w=0&k=20&c=nmiLL9JQIJDA2-00oGks4uS1vLwia7j7ZbeuZdC_mWg=");
  background-size: cover;
  background-repeat: no-repeat;
}
