.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.card {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 2px 21px 0px rgba(0, 0, 0, 0.43);
}

body {
  background-image: url("https://thumbs.dreamstime.com/b/case-beer-line-icon-alcohol-drink-pack-beer-bottles-sign-vector-graphics-linear-pattern-white-case-beer-line-151417176.jpgg");
  background-size: cover;
  background-repeat: no-repeat;
}
